.Container{
	width:1000px;
}

.PhotoContainer{
	float:left;
	width:600px;
}

.Photo{
	max-width:600px;
	max-height:600px;
}

.UserInfoAndTagsContainer{
	float:left;
	width:350px;
}



.UserInfoContainer{
	width:350px;
	height:350px;
}

.Avatar{
	width:100px;
	height:100px;
	float:left;
}

.Info{
	width:250px;
	float:left;
}

.TagsContainer{
	clear:both;
}

.CommentsContainer{
	clear:both;
	width:300px;
	margin:25px;
	border-color:black;
	border-width:2px;
	border-style:solid;
}

.Comment{
	margin:5px;
}

.Date{
	font-size:10px;
	float:left;
	width:50px;
}

.Author{
	font-size:10px;
	float:left;
	width:75px;
}

.Content{
	float:left;
	width:161;
}

.CommentInput{
	margin:5px;
}

.CommentInputContent{
	width:257;
}

.CommentInputButton{
	width:25px;
}