.PicturesMainContainer{
	height:300px;
	width:300px;
	float:left;
}

.PicturesContainer{
	min-width:10px;
}

.Pictures{
	display:block;
	margin:auto;
	max-width:250px;
	max-height:250px;
	vertical-align:middle;
	width: inherit;
}

.PicturesButton{
	min-width: 270px;
    height: 55px;
    margin-top: 20px;
    vertical-align: middle;
    padding-top: 10px;
    border-top: 1px gray solid;
    padding-left: 10%;
}

.PicturesInfo{
	min-width: 270px;
    height: 55px;
    margin-bottom: 20px;
    vertical-align: middle;
    padding-top: 10px;
    border-bottom: 1px gray solid;
    padding-left: 10%;
}

.single_pic
{

}

.picture-center
{
	vertical-align: middle ;
	    text-align: center;
}