<html>
	<head>
		<title>Login ver. 0.00001</title>
		<meta charset="utf-8">
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
	<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
	<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </form>
  <form action="/">
    <button type="submit" class="btn btn-default">Strona Główna</button>
  </form>

	</head>
	<body>
	<div class="container">
  <h2>Rejestracja</h2>
  <p>Wypełnij dobrze wszystkie pola to spotkasz bagiennego trola.</p>
  <form " action="/Register" method="post">
    <div class="form-group">
      <label for="login">Login:</label>
      <input type="login" class="form-control" id="login" placeholder="Wprowadź login" name="login">
    </div>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" class="form-control" id="email" placeholder="Wprowadź email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Hasło:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Wprowadź hasło" name="pwd">
    </div>
       <div class="form-group">
      <label for="pwd">Powtórz hasło:</label>
      <input type="password" class="form-control" id="pwd_ack" placeholder="Powtórz hasło" name="pwd_ack">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Zapamiętaj mnie</label>
    </div>
    <button type="submit" class="btn btn-default">Zaloguj</button>
    <label>{{err_comm}}</label> <!-- Może się przydać  -->
  </form>
</div>
	</body>
</html>
