        <!-- FOOTER potem do innego pliku wyjebać -->
        <div class="footer container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="FooterLogo">FakeGram</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top: 2%;">
                    <p>Projekt z przedmiotu "systemy multimedialne". Politechnika Śląska, Wydział Elektryczny. 2018 r.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <ul>
                        Wykonali:
                        <li>Konrad Sladkowski</li>
                        <li>Krzysztof Szwej</li>
                        <li>Dominik Żurawski</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- |||||||||||||||||||||||||||||||||||| -->
    </body>
</html>
