<html>
	<head>
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
	<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
	<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
	</head>
	<body>
		<h1>{{number}}</h1>
		<div class="testclass col-lg-6">aaa</div><div id="testid" class="col-lg-6">aaa</div>
	</body>
	<script>
		$(document).ready(function(){
		$("#testid").html("testid");
		$('.testclass').html("testclass");
		//alert("works!");
		});
	</script>
</html>
