

    <div class="container-fluid">
        <div class="tile">

         
            <form action="/pic_upload" method="post" enctype="multipart/form-data">
                <div class="custom-file">
                  <input type="file" name="img" id="js-upload-files" accept="image/jpeg" class="form-control" required>
                  <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                </div>
                <div class="pic_description">
                  <input type="text" name="desc" id="pic_desc" class="form-control">
                </div>
                <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
            </form>
   

        </div>
      </div> <!-- /container -->

