{% include 'header.html.twig' %}


	<div class="container-fluid">


	<form action ="/Search" method="post">
		<input type="text" class ='form-control inputs' id = "SearchedArgument" name ="SearchedArgument" placeholder="{{placeholder}}" >
		<button type="submit" class = "btn btn-default buttons">Wyszukaj</button>
	</form>


		<div class="">
			{% if pictures %}
				{% for pic in pictures %}
					<div class="tile curved single_pic flexible-tile">
							<div class="PicturesContainer">
								<a href="/Profile/Photo/{{pic['id']}}">
									<img src="/{{pic['pic']}}" class="Pictures"/>
								</a>
							</div>
						<div class="PicturesButton">
							<button class="btn btn-default buttons"><i class="fas fa-thumbs-up likeico"></i>Lubię to!</button>
							<button class="btn btn-default buttons"><i class="fas fa-comment-alt likeico"></i>Pokaż komentarze</button>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<label>Brak zdjęć</label>
			{% endif %}
		</div>
		

{% include 'footer.html.twig' %}